.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0 50px;
  .title {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
  }
  .input-container {
    display: flex;
    margin: 0 auto;
    border: 1 solid #ccc;
    background-image: url('./assets/backgroundImg.png');
    background-repeat: no-repeat;
    padding: 2.5em 12em;
    .email-input {
        flex: 3;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 18px;
      padding: 10px;
      outline: none;
      border: none;
      max-width: 425px;
    }
    .submit-button {
      cursor: pointer;
      padding: 1em 2em ;
      border-radius: 15px;
      background: #1E86FF;      
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
